E2E_FRONT_URL=http://orchestra-e2e.localhost:5174
E2E_API_URL=http://orchestra-e2e.localhost:8000
E2E_MASTER_EMAIL=master.e2e@orchestra.com
E2E_MASTER_PASSWORD=password
E2E_FRANCHISE_CENTRO_EMAIL=admin.centro@orchestra.com
E2E_FRANCHISE_CENTRO_PASSWORD=password
E2E_FRANCHISE_NORTE_EMAIL=admin.norte@orchestra.com
E2E_FRANCHISE_NORTE_PASSWORD=password
